.wrapper{
    display:flex;
    flex-direction: row;
    padding: 0.5em;
    margin: .5em;
    justify-content: space-between;
}

.left{
    width: 48%;
    padding: .5em;
}

.right{    
    width: 48%;
    padding: .5em;
}