<form [formGroup]="loginForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Sign in Please</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-icon color="primary" matPrefix>email</mat-icon>
            <input type="email" matInput placeholder="email" formControlName="email" required>
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-icon color="primary" matPrefix>locked</mat-icon>
            <input type="password" matInput placeholder="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is required <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
      <a mat-stroked-button color="accent" [routerLink]="['/register']">Register</a>
    </mat-card-actions>

  </mat-card>
</form>

