<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <app-user-badge [userInfo]="currentUser"></app-user-badge>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/fmovies">Featured Movies</a>
        <a mat-list-item routerLink="/ufmovies">Movies</a>
        <a mat-list-item routerLink="/about">About Us</a>
        <a mat-list-item routerLink="/contact">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>
          <img src="./assets/logo.png" alt="log" class="logo">
          <span>TuniFlix</span>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  