.full-width-table {
  width: 100%;
}

ng-container{
  width: 20%;
}

img {
  width: 40%;
}

.wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.left{
  width:40%
}
.right{
  width:40%
}