<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                <!--headin5_amrc-->
                <p class="mb10">MEAN Stack Bootcamp, a lot of emotions, and a hard work with pleasure</p>
                <p><i class="fa fa-location-arrow"></i> GoogleMeet @ upgrade-code</p>
                <p><i class="fa fa-phone"></i> +216 22 45 79 16 </p>
                <p><i class="fa fa fa-envelope"></i> feridhelali@upgrade-code.org </p>


            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="https://upgrade-code.org">Javascript Core Programming</a></li>
                    <li><a href="https://upgrade-code.org">OO Paradigme</a></li>
                    <li><a href="https://upgrade-code.org">Functional Programming Paradigme</a></li>
                    <li><a href="https://upgrade-code.org">Reactive Functional Programmin Patterns</a></li>
                    <li><a href="https://upgrade-code.org">Nodejs Empowred By Express</a></li>
                    <li><a href="https://upgrade-code.org">MongoDb as a Persistant system</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="https://upgrade-code.org">Learn how to learn Technics</a></li>
                    <li><a href="https://upgrade-code.org">How to learn Fast Technics</a></li>
                    <li><a href="https://upgrade-code.org">Problem Solving Technics</a></li>
                    <li><a href="https://upgrade-code.org">From Specification to Deployment</a></li>
                    <li><a href="https://upgrade-code.org">TDD & BDD</a></li>
                    <li><a href="https://upgrade-code.org">CI/CD on Heroku</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <!--headin5_amrc ends here-->

                <ul class="footer_ul2_amrc">
                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                       <a href="#">https://upgrade-code.org</a>
                        
                    </li>
                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                        <a href="#">Ferid HELALI</a>
                      
                    </li>
                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                        <a href="#">Mohamed Khelil Nasrallah</a>
                       
                    </li>
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="https://upgrade-code.org">Home</a></li>
            <li><a href="https://upgrade-code.org">About</a></li>
            <li><a href="https://upgrade-code.org">Contact</a></li>
            <li><a href="https://upgrade-code.org">Movies</a></li>
            <li><a href="https://upgrade-code.org">Featured Movies</a></li>
            <li><a href="https://upgrade-code.org">Issues</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2022 | Designed With by <a href="https://upgrade-code.org">MEAN Stack Bootcamp
                - Sénégal 2022</a></p>

        <ul class="social_footer_ul">
            <li><a href="https://upgrade-code.org"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://upgrade-code.org"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://upgrade-code.org"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://upgrade-code.org"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>

</footer>