/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.myBorder{
    border: solid 1px gray;
    box-shadow: 2px 2px 2px rgb(209, 221, 248);
    padding: 2px;
    margin: 3px;
}