<h1>Movie Form</h1>
<mat-card class="form">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cover</mat-label>
        <input matInput>
    </mat-form-field>

</mat-card>
<button 
    mat-raised-button 
    color="primary"
    (click)="saveMovie()"
    >Save</button>